body{
    background-color:darkgray

}

img{
    float: right;

}

a{
    font-style:unset;

}

h1{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: darkslategray;
}   

p{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

embed{
    float:inline-start;
}